<div class="col-md-2" style="padding: 10px;">
    <div class="card">
        <div class="card-header text-center">
            <h4><i class="fas fa-star"></i> {{ 'default.topVente' | trans }} <i class="fas fa-star"></i></h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for product in products %}
                    <a href="{{ path('boutique/rayon',{'idCategory' : product.product.getCategorie().getId()}) }}">
                        <li class="list-group-item text-center clickable">
                            <img src="{{ asset(product.product.getVisuel()) }}" style="height: 40px;"/>
                            <p>{{ product.product.getLibelle() }}<br><i>{{ product.quantite }} Ventes</i></p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>